.register-form {
    background-image: url('./../assets/img/back_paper_mob.png');
}

/* Smartphone landscape and tablet portrait*/
@media only screen and (min-width: 600px) {    

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 0;
    }

    .logo {
        border-right: 3px solid  var(--primary-font);
        margin-right: 5%;
        padding-right: 3%;
    }

    .title-div {
        justify-content: start;
        width: 50%;
    }

    .register-form {
        background-size: 100%;
        padding-bottom: 40vh;
    } 

    .form-input {
        margin-bottom: 2vmin;
    }
    .form-wrapper {
        padding-top: 5%;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .form-text {
        font-size: 1.2rem;
    }

    .form-input:last-child, .form-input:nth-last-child(2) {
        margin-bottom: 0;
    }
    
  }

    /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register-form {        
        background-image: url('./../assets/img/see_bussinesses_back2.png');
        width:150vmin;
    } 
    .register-btn {
        width:15%;
    }
    .form-input{
        margin-bottom: 1.2vmin;
        font-size: 2.6vmin;
    }
    .logo {
        width:43vh;
    }
    .title {
        font-size:6vmin;
    }
    .form-label{
        font-size: 2.5vh;
    }
    .form-text {
        font-size: 2vmin;
    }
    .form-wrapper {
        width:75%;
    }
    input {
        font-size: 0vh;
    }
}