header {
    margin: 10% 0 5% 0;
}

.register-form {
    background-repeat: no-repeat;
    background-image: url('./../assets/img/mobile_form.png');
    background-position: center center;
    background-size: 80% 100%;
    margin-bottom: 10%;
    height: 100vh;
}

.steps {
    width: 80%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.step {
    position: relative;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #f9c146;
    opacity: 0.5;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--primary-font);
    margin: 0 3%;
    cursor: pointer;
}

.step.error::after {
    content: '\f00d';
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--error-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.2rem;
}

.step-line {
    width: 35px;
    height: 5px;
    margin-top: 10px;    
    border-bottom: 3px dashed var(--primary-font);
    opacity: 0.5;
}

.step.active, .step.done, .step-line.active {
    opacity: 1;
}

.btn_form {
    width: 35%;
    background: transparent;
    border: none;
}

/* Tablet portrait*/
@media only screen and (min-width: 600px) {   

    header {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        width: 80%;
        margin-left: 10%;
    }

    .logo {        
        padding-right: 2.5%;
        border-right: 3px solid  var(--primary-font);
    }

    .title-div {
        justify-content: start !important;
        margin-left: 2.5% !important;
    }

    .form-section {
        width: 100%;
    }

    .steps {
        width: 60%;
    }

    .step {
        height: 35px;
        width: 35px;
    }

    .register-form {
        width: 80%;
        height: 80vh;
    }

    .form-label {
        font-size: 1.4rem;
    }

    .form-input {
        margin-bottom: 4vmin;
    }

    .form-control {
        padding: .5rem .75rem;
    }

    .icon {
        margin: 4% 0;
    }

    .form-wrapper {
        padding-top: 5%;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .form-text {
        font-size: 1.2rem;
    }

    .btn_form {
        width: 30%;
    }
    
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register-form {        
        background-image: url('./../assets/img/login_form.png');
        width:180vmin !important;
        height: 90vh;
    }

    .title-div {
        margin-left: 5% !important;
    }

    .step {
        margin: 0 1% !important;
    }

    .icon {
        margin: 2% 0;
    }
    
    .form-label, .form-text{
        font-size:1.2rem !important;
    }

    .form-wrapper {
        width: 50% !important;
        padding: 2% 0 !important;
        margin-left: 25% !important;
    }

    .btn_form {
        width: 20% !important;
    }
}
