/* Bebas Neue */
@font-face {
    font-family: "Bebas Neue";
    src: url('./../assets/font/bebas_neue/BebasNeue-Regular.ttf');
    font-weight: 400;
}

/* Night Zone */
@font-face {
    font-family: "NightZone";
    src: url('./../assets/font/Night\ Zone.ttf');
}
  
:root {
    --primary-font: #895734;
    --error-font: #1eb8a9;
}

.title {
    font-family:'NightZone', Arial, sans-serif;
    color: var(--primary-font);
    font-weight: bold;
    text-align: center;
}

.form-label {
    font-family:'Bebas Neue', Arial, sans-serif;
    color: var(--primary-font);
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight: 700;  
}

.form-text {
    margin: 0;
    font-family:'Bebas Neue', Arial, sans-serif;
    color: var(--error-font);
    font-size: 0.7rem;
    font-style: italic;
    text-align: right;
}

body {
    background-image: url('./../assets/img/bg_mobile.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    display: flex;
    justify-content: center;    
}

.form-wrapper {
    padding: 2vh 0;
}

input[type="text"], input[type="password"]
{
    font-size:1rem;
    box-sizing: border-box;
    border-color: var(--primary-font);
    border-width: 2px;
}


input[type="text"]:focus, input[type="password"]:focus
{
    box-shadow: 0 0 0 .1rem var(--primary-font);
    -moz-box-shadow: 0 0 0 .1rem var(--primary-font);
    -webkit-box-shadow: 0 0 0 .1rem var(--primary-font);
    border-color: var(--primary-font);
    border-width: 1px;
}

select {    
    box-shadow: 0 0 0 .1rem var(--primary-font);
    -moz-box-shadow: 0 0 0 .1rem var(--primary-font);
    -webkit-box-shadow: 0 0 0 .1rem var(--primary-font);
    border-color: var(--primary-font);
    border-width: 2px;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select:focus {
    box-shadow: 0 0 0 .1rem var(--primary-font);
    -moz-box-shadow: 0 0 0 .1rem var(--primary-font);
    -webkit-box-shadow: 0 0 0 .1rem var(--primary-font);
    border-color: var(--primary-font);
    border-width: 1px;
}

.form-input {
    border: 1px solid yellow;
    margin-bottom: 5%;
}

.icon {
    color: var(--primary-font);
    margin: 4% 0 1% 0;
    cursor: pointer;
    --bs-tooltip-bg: var(--primary-font);
}

.icon-error {
    color: var(--error-font);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.spinner {
    color: var(--primary-font);
    margin: 1% 2%;
}

@media only screen  and (orientation: landscape){
    body {
        background-image: url('./../assets/img/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}