/* Bebas Neue */
@font-face {
    font-family: "Bebas Neue";
    src: url('./../assets/font/bebas_neue/BebasNeue-Regular.ttf');
    font-weight: 400;
}

/* Night Zone */
@font-face {
    font-family: "NightZone";
    src: url('./../assets/font/Night\ Zone.ttf');
}
  
:root {
    --primary-font: #895734;
    --error-font: #1eb8a9;
}

.title, .message {
    font-family:'NightZone', Arial, sans-serif;
    color: var(--primary-font);
    font-weight: bold;
    text-align: center;
}

.form-label {
    font-family:'Bebas Neue', Arial, sans-serif;
    color: var(--primary-font);
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight: 700;  
}

.form-text {
    margin: 0;
    font-family:'Bebas Neue', Arial, sans-serif;
    color: var(--error-font);
    font-size: 0.7rem;
    font-style: italic;
    text-align: right;
}

body {
    background-image: url('./../assets/img/bg_mobile.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    display: flex;
    justify-content: center;    
}

.form-wrapper {
    padding: 2vh 0;
}

.form-control
{
    font-size:1rem;
    box-sizing: border-box;
    border-color: var(--primary-font);
    border-width: 2px;
}


.form-control:focus
{
    box-shadow: 0 0 0 .15rem var(--primary-font);
    -moz-box-shadow: 0 0 0 .15rem var(--primary-font);
    -webkit-box-shadow: 0 0 0 .15rem var(--primary-font);
    border-color: var(--primary-font);
    border-width: 1px;
}

.form-input {
    margin-bottom: 5%;
}

.form-control.error {
    border-color: var(--error-font) !important;
    border-width: 2px;
}

.form-control:focus.error {
    box-shadow: 0 0 0 .15rem var(--error-font);
    -moz-box-shadow: 0 0 0 .15rem var(--error-font);
    -webkit-box-shadow: 0 0 0 .15rem var(--error-font);
    border-color: var(--error-font);
    border-width: 1px;
}

.icon {
    color: var(--primary-font);
    margin: 1% 0;
    cursor: pointer;
    --bs-tooltip-bg: var(--primary-font);
}

.hidden {
    display: none !important;
}

.error-icon {
    color: var(--error-font);
    margin-left: 25%;
}

@media only screen  and (orientation: landscape){
    body {
        background-image: url('./../assets/img/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}