/* Bebas Neue */
@font-face {
    font-family: "Bebas Neue";
    src: url('./../assets/font/bebas_neue/BebasNeue-Regular.ttf');
    font-weight: 400;
}

/* Night Zone */
@font-face {
    font-family: "NightZone";
    src: url('./../assets/font/Night\ Zone.ttf');
}
  
:root {
    --primary-font: #895734;
    --error-font: #1eb8a9;
}

.title {
    font-family:'NightZone', Arial, sans-serif;
    color: var(--primary-font);
    font-weight: bold;
    text-align: center;
}

.form-label {
    font-family:'Bebas Neue', Arial, sans-serif;
    color: var(--primary-font);
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight: 700;  
}

.form-text {
    margin: 0;
    font-family:'Bebas Neue', Arial, sans-serif;
    color: var(--error-font);
    font-size: 0.7rem;
    font-style: italic;
    text-align: right;
}

body {
    background-image: url('./../assets/img/bg_mobile.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    display: flex;
    justify-content: center;    
}

.form-wrapper {
    padding: 2vh 0;
}

input[type="text"], input[type="password"]
input[type="text"]:focus, input[type="password"]:focus
{
    font-size:0.7rem;
    border-color: var(--primary-font);
}


input[type="text"]:focus, input[type="password"]:focus
{
    box-shadow: 0 0 0 .1rem var(--primary-font)
}

.icon {
    color: var(--primary-font);
    margin-top: 5%;
    cursor: pointer;
    --bs-tooltip-bg: var(--primary-font);
}

.auth-form {
    width: 90%;
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen  and (orientation: landscape){
    body {
        background-image: url('./../assets/img/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}