body {
    background-image: url('./../assets/bg_mobile.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    display: flex;
    justify-content: center;    
}

.login-form {
    width: 90%;
    display: flex;
    justify-content: center;
    background-image: url('./../assets/login_bg_mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10vh;
    
}

.form-wrapper {
    padding: 2vh 0;
}

.form-input {
    margin-bottom: 3vmin;
}

input[type="text"], input[type="password"],
input[type="text"]:focus, input[type="password"]:focus
{
    font-size:0.7rem;
    border-color: var(--primary-font);
}


input[type="text"]:focus, input[type="password"]:focus
{
    box-shadow: 0 0 0 .1rem var(--primary-font)
}

.login-btn {
    width: 13vmin;
    height: 13vmin;
    margin-top: 34vmin;    
}

/* Smartphone landscape and tablet portrait*/
@media only screen and (min-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 5% 0;
    }

    .logo {
        border-right: 3px solid  var(--primary-font);
        margin-right: 5%;
        padding-right: 3%;
    }

    .title-div {
        justify-content: start;
    }

    .login-form {
        background-size: 100%;
        padding-bottom: 4vh;
    }

    .form-wrapper {
        padding: 4vh 0;
    }

    .form-input {
        margin-bottom: 5vmin;
    }
    
    .form-label, .form-text {
        font-size: 1.2rem;
    }

    input[type="text"], input[type="password"],
    input[type="text"]:focus, input[type="password"]:focus
    {
        font-size:1.2rem;
        padding: .5rem 0;
    }
    
    .login-btn {
        width: 10vmin;
        height: 10vmin;
        margin-top: 30vmin;    
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .login-form {        
        padding-bottom: 20vh;
    }

    .form-wrapper {
        padding: 12vh 0;
    }

    .form-input {
        margin-bottom: 5vmin;
    }

    input[type="text"], input[type="password"],
    input[type="text"]:focus, input[type="password"]:focus
    {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .login-btn {        
        margin-top: 39vmin;    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    header {
        margin-top: 5vmin;
        padding: 0;
        width: 80%;
        margin-left: 10%;
    }
    .login-form {   
        width: 70%;     
        padding-bottom: 0;
        margin-top: 5vmin;
    }

    .form-wrapper {
        padding: 10vh 0;
    }

    .form-input {
        margin-bottom: 10vmin;
    }

    input[type="text"], input[type="password"],
    input[type="text"]:focus, input[type="password"]:focus
    {
        padding-left: 2vmin;
    }

    .login-btn {  
        width: 15vmin;
        height: 15vmin;      
        margin-top: 45vmin;    
    }
}