
:root {
    --primary-font: #895734;
}
body {
    font-family: 'Bebas Neue', cursive;
    color: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.3rem;
    font-family:'NightZone', Arial, sans-serif;
}
    
.btn{
    height: 25px;
    width: 35px;
    background-color:#895734;
    border-radius: 100%;
    text-align: right;
    color: #FFE2B0;
    line-height: 15px;
}
.logo{
    max-width:100%;
    width:500px;
    position: center right;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 400%;
    }
    body {
        background-image:url("./../assets/coins.png"), url("./../assets/background.png");
        background-size:250px,700px;
        background-repeat:no-repeat, repeat;
        background-position: 95% 90%, 0% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh;
    }
    .logo {
        width: 45%;
        position: right;
    }
    label {
        font-size:1.2rem;
    }
    form {
        background-image: url("./../assets/feather.png"),url("./../assets/see_bussinesses_back2.png");
        background-size: 250px, 1000px;
        background-repeat:no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: 95% 60%,50% 20%;
        width: 1400px;
        height:700px;
    }
    .form-btn {
        width:40%;
    }
}
  @media screen and (max-width: 991px) {
    body {
      background-image: url("./../assets/background_mob.png"), url("./../assets/background.png");
      background-size:98%, 100%;
      background-repeat:no-repeat, repeat;
      background-position: bottom -20px right;
    }
    h1 {
        font-size: 38px;
    }
  }
  @font-face {
    font-family: "NightZone";
    src: url("./../assets/font/Night\ Zone.otf") format("opentype")
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo {
        border-right: 3px solid  var(--primary-font);
        margin-right: 5%;
        padding-right: 3%;
    }